@model UniversityManagementSystem.Models.Department
@{
    ViewBag.Title = "Department";
}

<h2>Department Entry</h2>
<div>
    @using (Html.BeginForm("Index", "SaveDepartment", FormMethod.Post, new {id = "saveDepartmentForm"}))
    {
        <fieldset>
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Code)</td>
                    <td>@Html.TextBoxFor(m => m.Code)</td>
                    <td>@Html.ValidationMessageFor(m => m.Code)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Name)</td>
                    <td>@Html.TextBoxFor(m => m.Name)</td>
                    <td>@Html.ValidationMessageFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@ViewBag.message</td>
                </tr>

            </table>
        </fieldset>
    }
</div>