
@{
    ViewBag.Title = "Home";
}
<br />
<br />
<h2>UniversityManagementSystem</h2>
<br/>
<br />



<ol>
    <li>@Html.ActionLink("Save Department", "Index", "SaveDepartment")</li>
    <li>@Html.ActionLink("View All Department", "Index", "ViewAllDepartment")</li>
    <li>@Html.ActionLink("Save Course", "Index", "SaveCourse")</li>
    <li>@Html.ActionLink("Save Teacher", "Index", "SaveTeacher")</li>
    <li>@Html.ActionLink("Course Assign to a Teacher", "Index", "CourseAssignToTeacher")</li>
    <li>@Html.ActionLink("View Course Statics", "Index", "ViewCourseStaticsController")</li>
    <li>@Html.ActionLink("Register Student", "Index", "RegisterStudent")</li>
    <li>@Html.ActionLink("Allocate Class Room", "Index", "AllocateClassroom")</li>
    <li>@Html.ActionLink("View Class Schedule", "Index", "ViewClassSchedule")</li>
    <li>@Html.ActionLink("Enroll Students in a Course", "Index", "EnrollInACourse")</li>
    <li>@Html.ActionLink("Save Student Result", "Index", "SaveStudentResult")</li>
    <li>@Html.ActionLink("View Result", "Index", "ViewResult")</li>
    <li>@Html.ActionLink("Unassign All Courses", "Index", "UnassignAllCourses")</li>
    <li>@Html.ActionLink("Unassign All Class Rooms", "Index", "UnassignAllClassRooms")</li>
</ol>



